#wrapper {
    width: 683px;
    background: #E6E6E6;
}

#centre {
    float: left;
    width: 381px;
    padding-left: 10px;
    display: inline;
}

#right {
    float: right;
    width: 150px;
}

#left {
    float: left;
    width: 150px;
}

#bottom {
    clear: both;
}

#header {
    clear: both;
    padding-bottom: 10px;
}

#title {
    float: left;
    text-align: left;
}

#help {
    text-align: right;
}

#datepickerDiv {
    padding-bottom: 10px;
}

#compDiv {
    padding-bottom: 10px;
}
